@font-face {
  font-family: 'Tangerine';
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'), local('Roboto'), url('roboto_script.ttf') format('ttf'), url('roboto_script.woff') format('woff2');
}

